

/* 
body{

  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 36%, rgba(0,212,255,1) 100%);   

}
p{
  color: rgb(15, 128, 0);
}
.box1{
  background: white;
  border: 1px solid black;
  text-align: center;
  margin-top: 100px;

} */

